# Temporary outputs
tmp/

# Database
data/
#*.svg
#*.html

# OS junk
.DS_Store
Thumbs.db

# Virtualenv and build artifacts
.venv/
dist/
build/
*.egg-info

# Coverage
.coverage
htmlcov/

# Python caches
__pycache__/
*.pyc

# uv lock (optional to commit, but often useful)
# uv.lock

# Editor files
.vscode/
.idea/
*.swp


